.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form {
    background-color: white;
    width: 420px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}