.inputContainer {
    position: relative;
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 80%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}
input::placeholder {
    color: gray;
}
