<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>com.example.genealogy.Check.CheckUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SingUp</servlet-name>
        <servlet-class>com.example.genealogy.SingUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingUp</servlet-name>
        <url-pattern>/SingUp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActiveEmail</servlet-name>
        <servlet-class>com.example.genealogy.ActiveEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActiveEmail</servlet-name>
        <url-pattern>/Active</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckUserName</servlet-name>
        <servlet-class>com.example.genealogy.Check.CheckUserName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUserName</servlet-name>
        <url-pattern>/CheckUserName</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckUserEmail</servlet-name>
        <servlet-class>com.example.genealogy.Check.CheckUserEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUserEmail</servlet-name>
        <url-pattern>/CheckUserEmail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckUserPassword</servlet-name>
        <servlet-class>com.example.genealogy.Check.CheckUserPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUserPassword</servlet-name>
        <url-pattern>/CheckUserPassword</url-pattern>
    </servlet-mapping>
</web-app>